	body{ 
		background: lightgray;
	}

	#BlogBox{ 
		margin:0 auto;
		width:500px;
		height:600px;
	}

	table{ 
		width:400px;
		height:500px;
		margin:0 auto;
	}

	tr{ 
		background:pink;
		line-height: 25px;
		height: 25px;
	}
	
	

	tr input{ 
		height: 25px;
		line-height: 25px;
	}

	.headLine{ 
		font-size: 18pt;
		font-weight: bold;
		font-family: 微软雅黑;
		text-align: center;
	}