<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>cn.bmy.Response.ResponseDemo1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>cn.bmy.Response.ResponseDemo2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResponseDemo3</servlet-name>
    <servlet-class>cn.bmy.Response.ResponseDemo3</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>cn.bmy.Request.RequestDemo1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>cn.bmy.Request.RequestDemo2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RequestDemo3</servlet-name>
    <servlet-class>cn.bmy.Request.RequestDemo3</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/servlet/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/servlet/ResponseDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo3</servlet-name>
    <url-pattern>/servlet/ResponseDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/servlet/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/servlet/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo3</servlet-name>
    <url-pattern>/servlet/RequestDemo3</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
